<div class="container-fluid">
<%= image_tag("food1.jpg", class: "img-responsive food1") %>
	<div class="jumbotron about">
		<h1>Looking for a recipe?</h1>
		<p>You've come to the right place! You can find recipes here for any occasion.</p>
	</div>
</div>