<div class="container-fluid">
	<%= image_tag("food1.jpg", class: "img-responsive landing-page-image") %>
 	<h1 class="main-text">Welcome to Anne's Kitchen!  A place with recipes sure to satisfy anyone.</h1>
</div>

