<div class="container-fluid">
	<div class="jumbotron home">
	<%= image_tag("food1.jpg", class: "img-responsive food1") %>

		<div class= "background-home">
		<h1>Welcome to Anne's Kitchen</h1>
		<p>Your source for recipes to satisfy anyone!</p>
		</div>
	</div>
</div>
